---
- ansible.builtin.include_role:
    name: mirceanton.downloader
  vars:
    downloader_archive_url: "{{ terraform_url }}"
    downloader_archive_dest: /tmp/
    downloader_exec_src: /tmp/terraform
    downloader_exec_dest: /usr/bin/terraform