---
- name: Include downloader role
  ansible.builtin.import_role:
    name: mirceanton.downloader
  vars:
    downloader_archive_url: "{{ terraform_url }}"
    downloader_archive_dest: "{{ terraform_temp_download_dir }}"
    downloader_exec_src: "{{ terraform_temp_download_dir }}/terraform"
    downloader_exec_dest: "{{ terraform_exec_path }}"
